* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.image-container {
    display: flex;
}

img {
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
}