* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-size: 1.5rem;
}

@font-face {
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}

body {
    display: flex;
}

.image-container {
    display: flex;
    flex: 1;
    position: relative;
}

.image-body {
    position: absolute;
    background: black;
    color: white;
    opacity: .75;
    width: 100%;
    top: 40vh;
    height: max(20vh, 120px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-text {
    font-size: max(18vh, 100px);
    font-family: odin-font;
}

.logo {
    height: max(18vh, 100px);
}

.sidebar-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.p1 {
    margin: 100px 40px 0 40px;
    font-size: var(--main-font-size);
}

.p2 {
    margin: 40px;
    font-size: var(--main-font-size);
}

.p3 {
    margin: 0;
    font-size: var(--main-font-size);
}

form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 9px 40px 9px rgba(0, 0, 0, 0.2);
}

form>div {
    display: flex;
}

form>div>div {
    display: flex;
    flex-direction: column;
    margin: 20px 60px 20px 0px;
}

label {
    font-size: .7rem;
    letter-spacing: .1rem;
}

input {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 2px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

input:invalid {
    border: 1px solid red;
}

.wrapper>div {
    position: relative;
}

.pass-reminder {
    margin-top: 5px;
    color: red;
    font-size: .8rem;
    position: absolute;
    top: 40px;
}

button {
    padding: 12px 50px;
    margin: 40px 40px 20px 40px;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: rgb(64, 102, 20);
    border: 0px;
    color: white;
    font-weight: bold;
}

.reminder {
    margin-left: 40px;
}

span {
    color: rgb(64, 102, 20);
    font-weight: bold;
}